<div class="media">
  <a class="media-left media-top" href="#">
    <%= image_tag movie.poster.url(:thumb), class: "img-thumbnail pull-left", size: "98" %>
  </a>
  <div class="media-body" style="padding-left:5px;">
    <h4 class="media-heading"><%= link_to movie.title, movie_path(movie) %> <small>(<%= movie.year %>)</small></h4>
    <%= rating_for movie, "score", disable_after_rate: false %>
    <p><%= truncate movie.description, length: 140 %></p>
    <small>Director: <strong><%= movie.director_name %></strong></small>
    <br/>
    <small>
    Stars: 
    <strong>
    <%= movie.casts[0..3].map { |cast| cast.actor.name }.join(", ") %>
    </strong>
    </small>
    <br/>
    <small>
    Genre:
    </small>
    <% movie.genres.each do |g| %>
        <span class="label label-info tags"><%= g.name %></span>
    <% end %>
  </div>
</div>