
<h3>Search movies</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1"><span class="fa fa-search"></span></span>
      <input type="text" class="form-control" placeholder="Search here" aria-describedby="sizing-addon1">
    </div>
  </div>
</div>

<h3>Browse by genre</h3>
<div class="section-border">
  <div class="row">
  <% @genres.in_groups(3, false) do |genres| %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="list-group">
        <% genres.each do |genre| %>
        <li class="list-group-item text-center"><a href="#"><%= genre.name %></a></li>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<h3>Suggested</h3>
<div class="section-border">
  <div class="row">
  <% @movies.in_groups(3, false) do |movies| %>
    <div class="col-lg-4">
      <% movies.each do |movie| %>
      <%= render partial: "movie", locals: { movie: movie } %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>



<%- model_class = Movie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:webpage) %></th>
      <th><%= model_class.human_attribute_name(:runtime) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.id, movie_path(movie) %></td>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.webpage %></td>
        <td><%= movie.runtime %></td>
        <td><%=l movie.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_movie_path(movie), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      movie_path(movie),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_movie_path,
            :class => 'btn btn-primary' %>
