<%- model_class = Movie -%>
       
<div class="row">
  <div class="col-lg-9">
  <h2> <%= @movie.title %> <small>(<%= @movie.year %>)</small> </h2>
  <%= rating_for @movie, "score" %>
  <h3>Overview</h3>
  <p>
    <%= @movie.description %>
  </p>
  <h3>Crew<small><a href="javascript://" class="pull-right" data-toggle="collapse" data-target=".crew_list">Show All</a></small></h3>
  
  <div class="panel-collapse collapse out crew_list">
    <%= render partial: "crew", locals: { crew: @crew } %>
  </div>
  <div class="stub panel-collapse collapse in crew_list">
    <%= render partial: "crew", locals: { crew: @crew_stub } %>
  </div>
  
  <h3>Cast<small><a href="javascript://" class="pull-right" data-toggle="collapse" data-target=".cast_list">Show All</a></small></h3>
  
  
  <div class="panel-collapse collapse out cast_list">
    <%= render partial: "cast", locals: { cast_list: @cast_list } %>
  </div>
  <div class="stub panel-collapse collapse in cast_list">
    <%= render partial: "cast", locals: { cast_list: @cast_list[0..2] } %>
  </div>
  
  <h3>Reviews<small><a href="#" class="pull-right">Show All</a></small></h3>
  </div>
  <div class="col-lg-3">
    <div class="movie_poster">
      <h3>Poster</h3>
      <%= image_tag @movie.poster.url(:thumb), class: "img-thumbnail center-block" %>
    </div>
    <div class="movie_info">
      <h3>Facts</h3>
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:webpage) %>:</strong></dt>
        <dd><%= link_to "Link", @movie.webpage %></dd>
        <dt><strong><%= model_class.human_attribute_name(:runtime) %>:</strong></dt>
        <dd><%= @movie.runtime %> min.</dd>
        <dt><strong>Genre:</strong></dt>
        <dd>
          <% @genres_list[0..-2].each do |g| %>
          <%= g.name %>,
          <% end %>
          <%= @genres_list.last.name %>
        </dd>
        <dt><strong>Language:</strong></dt>
        <dd><%= @movie.language %></dd>
        <dt><strong>Release:</strong></dt>
          <% @release_dates[0..-2].each do |g| %>
          <dd>
          <%= g.country %> <%= g.date %>,
          </dd>
          <% end %>
        <dd>
          <%= @release_dates.last.country %> <%= @release_dates.last.date %>
        </dd>
      </dl>
    </div>
  </div>
</div>